#container{
    width: 1024px;
    height: auto;
    background-color: #f2ebe3;
}
#search{
    height: 40px;
    width: 620px;
    padding: 40px 202px;
}
#write{
    width: 500px;
    height: 30px;
}
input{
    font-size: 100%;
}
#click{
    width: 80px;
    height: 34px;
    font-size: 100%
}
#goods{
    width: 1024px;
    height: auto;
}
.information{
    width: 900px;
    height: 80px;
    margin: 10px;
    background-color: white;
    filter:alpha(opacity=40);
    opacity:0.4;
    border: 1px solid #e9e9e9;
}
.menu{
    width: 850px;
    height: 40px;
}
.juti{
    width: 850px;
    height: 40px;
}
.id{
    width: 100px;
    height: 39px;
    border-right: 1px solid #e9e9e9;
    display:inline-block;
}
.name{
    width: 120px;
    height: 39px;
    border-right: 1px solid #e9e9e9;
    display:inline-block;
}
.price{
    width: 100px;
    height: 39px;
    border-right: 1px solid #e9e9e9;
    display:inline-block;
}
.productor{
    width: 155px;
    height: 39px;
    border-right: 1px solid #e9e9e9;
    display:inline-block;
}
.date1{
    width: 155px;
    height: 39px;
    border-right: 1px solid #e9e9e9;
    display:inline-block;
}
.date2{
    width: 155px;
    height: 39px;
    display:inline-block;
}
#deadline{
    background-color: #b2b2b2;
    width: 1024px;
    height: 30px;
    margin-top: 20px;
}