<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>登录界面</title>
</head>
<script>
	function clc(){
		document.getElementById("name").value="";
		document.getElementById("password").value="";
        }//登录账号重置--清除
</script>
<body>
   <div class="jumbotron" style="background-color:#aaaaaa;magin:0px;height:100%">
    <!--<font style="font-size:30px">超市账户登录</font>-->
    <div id="container">
        <div id="background">
            <div id="login">用户登录</div>
            <div class="frame">
               <div class="input-group">
                    <span class="input-group-addon">账号</span>
                    <input type="text" class="form-control" placeholder="用户账号">
               </div>   
            </div>
            <div class="frame">
                <div class="input-group">
                <span class="input-group-addon">密码</span>
                <input type="text" class="form-control" placeholder="密码">
      </div>   
            </div> 
            <button type="button" class="btn btn-warning">登录</button>
            <button type="button" class="btn btn-warning" onclick="clc()">取消</button>
            <div id="in"><a href="enroll.html" style="text-decoration: none;color:red;">用户注册</a></div>
        </div>
       
    </div>
   </div>
</body>
</html>